<header class="header">
  <div class="header__title">
    <a class="header__title--link" href="./index.html">Línea Base</a>
  </div>
  <nav class="nav">
    <ul class="menu">
      <li class="menu__item--portfolio">
        <a title="Ir a Portfolio" href="./index.html" class="menu__item--link portfolio">Portfolio</a>
      </li>
      <li class="menu__item--contact">
        <a title="Ir a Contacto" href="./contact.html" class="menu__item--link contact">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
