<main class="main">
  <div clas="main__container">
    <div class="container">
      <include
        src="./mainTemplate.html"
        href="./02womenNow.html"
        title="Women Now"
        text="Diseño Gráfico | Cartelería | Publicidad | Evento"
        img="./assets/images/01_HOME/02_Women now impresión.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="National Geographic"
        text="Diseño Gráfico | Publicidad"
        img="./assets/images/01_HOME/03_National Geographic.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Elecnor"
        text="Diseño Gráfico | Informe corporativo"
        img="./assets/images/01_HOME/04_Elecnor.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Zuum"
        text="Diseño Gráfico | Naming | Logotipo | Packaging"
        img="./assets/images/01_HOME/05_zuum.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Women Now"
        text="Diseño Web | UX/UI"
        img="./assets/images/01_HOME/06_women now digital.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Reciclaje"
        text="Diseño App | Gamificación"
        img="./assets/images/01_HOME/07_Reciclaje.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Imagiapp"
        text="Diseño App | UX/UI | Research"
        img="./assets/images/01_HOME/08_Imagiapp.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Collegiate"
        text="Diseño Web | UX/UI"
        img="./assets/images/01_HOME/09_Collage.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Campofrío"
        text="Revista Digital | Print to Digital"
        img="./assets/images/01_HOME/10_Campofrío.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Hitchi"
        text="Diseño Editorial Corporativo | Catálogo"
        img="./assets/images/01_HOME/12_Hitachi.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Vanitas Vanitatis"
        text="Diseño Editorial | Revista Lujo"
        img="./assets/images/01_HOME/13_Vanitas.png"
      ></include>
      <include
        src="./mainTemplate.html"
        title="Gen B"
        text="Diseño Editorial | Revista de Viajes"
        img="./assets/images/01_HOME/14_Genb revista.png"
      ></include>
    </div>
  </div>
</main>
