<main class="main">
 <div class="container">
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Women Now</h3>
        <span class="article__link--wrapper text">Diseño Gráfico | Cartelería | Publicidad | Evento</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/02_Women now impresión.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">National Geographic</h3>
        <span class="article__link--wrapper text">Diseño Gráfico | Publicidad</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/03_National Geographic.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Elecnor</h3>
        <span class="article__link--wrapper text">Diseño Gráfico | Informe corporativo</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/04_Elecnor.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Zuum</h3>
        <span class="article__link--wrapper text">Diseño Gráfico | Naming | Logotipo | Packaging</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/05_zuum.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Women Now</h3>
        <span class="article__link--wrapper text">Diseño Web | UX/UI</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/06_women now digital.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Reciclaje</h3>
        <span class="article__link--wrapper text">Diseño App | Gamificación</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/07_Reciclaje.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Imagiapp</h3>
        <span class="article__link--wrapper text">Diseño App | UX/UI | Research</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/08_Imagiapp.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Collegiate</h3>
        <span class="article__link--wrapper text">Diseño Web | UX/UI</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/09_Collage.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Campofrío</h3>
        <span class="article__link--wrapper text">Revista Digital | Print to Digital</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/10_Campofrío.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Gen B</h3>
        <span class="article__link--wrapper text">Revista Digital | Flipbook</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/11_GenB.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Hitchi</h3>
        <span class="article__link--wrapper text">Diseño Editorial Corporativo | Catálogo</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/12_Hitachi.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Vanitas Vanitatis</h3>
        <span class="article__link--wrapper text">Diseño Editorial | Revista Lujo</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/13_Vanitas.png" alt="">
    </a>
  </div>
  <div class="article">
    <a href="" class="article__link">
      <div class="article__link--wrapper">
        <h3 class="article__link--wrapper title">Gen B</h3>
        <span class="article__link--wrapper text">Diseño Editorial | Revista de Viajes</span>
      </div>
      <img class="article__link--img" src="./assets/images/01_HOME/14_Genb revista.png" alt="">
    </a>
  </div>
  
 </div>
</main>
