.header {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #f3f3f3;
  @media all and (min-width: 601px) and (max-width: 1024px) {
    height: 55px;
  }
  @media all and (min-width: 1025px) {
    height: 66px;
  }
}

.header__title {
  min-width: 112px;
  margin: 2% 0 0 2%;
  @media all and (min-width: 601px) and (max-width: 1024px) {
    min-width: 179px;
    margin: 1% 0 0 1%;
  }
  @media all and (min-width: 1025px) {
    min-width: 201px;
    margin: 1% 0 0 1%;
  }
}

.header__title--link {
  font-family: "Rubik", "sans-serif";
  font-size: 20px;
  color: black;
  text-transform: uppercase;

  @media all and (min-width: 601px) and (max-width: 1024px) {
    font-size: 32px;
  }
  @media all and (min-width: 1025px) {
    font-size: 36px;
  }
}

.nav {
  margin: 2% 2% 0 0;
  @media all and (min-width: 601px) and (max-width: 1024px) {
    margin: 1% 1% 0 0;
  }
  @media all and (min-width: 1025px) {
    margin: 1% 1% 0 0;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 21px;
}

.menu__item--portfolio {
  margin-right: 4px;
  list-style-type: none;

  @media all and (min-width: 601px) and (max-width: 1024px) {
    margin-right: 5px;
  }
  @media all and (min-width: 1025px) {
    margin-right: 8px;
  }
}

.menu__item--contact {
  margin-left: 4px;
  list-style-type: none;
  @media all and (min-width: 601px) and (max-width: 1024px) {
    margin-left: 5px;
  }
  @media all and (min-width: 1025px) {
    margin-left: 8px;
  }
}

.menu__item--link {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;

  @media all and (min-width: 601px) and (max-width: 1024px) {
    font-size: 17px;
  }
  @media all and (min-width: 1025px) {
    font-size: 18px;
  }
}

.menu__item--link .portfolio {
  margin-right: 5px;
}

.menu__item--link .contact {
  margin-left: 5px;
}
