.main {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 96%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  grid-gap: 35px;

  @media all and (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-self: center;
    align-items: center;
  }

  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(7, 480px);
    // margin-right: 80px;
    // margin-left: 80px;
  }
}

.article {
  width: 96%;
  border: none;
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-self: center;

  @media all and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
  }

  @media all and (min-width: 1200px) {
    width: 100%;
  }
}

.article__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.article .article__link::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.article .article__link .article__link--img {
  // transition: .3s transform ease;
  // -webkit-transform: scale(1);
  // transform: scale(1);
  // max-width: 600px;
  // max-height: 480px;
  width: 100%;
  height: 100%;
}

.article .article__link > .article__link--wrapper {
  position: absolute;
  top: 48%;
  width: 100%;
  display: inline;
  z-index: 3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000000;
  font-family: "Rubik", sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}

.article .article__link > .article__link--wrapper .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;

  @media all and (min-width: 768px) and (max-width: 1199px) {
    font-size: 22px;
  }

  @media all and (min-width: 1200px) {
    font-size: 24px;
  }
}

.article .article__link > .article__link--wrapper .text {
  font-size: 14px;
  font-weight: 400;

  @media all and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
  }

  @media all and (min-width: 1200px) {
    font-size: 18px;
  }
}

.article .article__link:hover {
  // text-decoration: none;
}

.article .article__link--img:hover {
  // -webkit-transform: scale(1.05);
  // transform: scale(1.05);
  // transition: ;
}

.article .article__link:hover:after {
  background-color: #ffffff;
  opacity: 0.8;
  visibility: visible;
}

.article .article__link:hover .article__link--wrapper {
  opacity: 1;
  visibility: visible;
}