@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.main {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  }

.main__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
grid-gap: 16px;
  text-align: center;
  // margin-right: auto;
  // margin-left: auto;
  @media all and (min-width: 1200px) {
    width: 1235px;
    // display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 35px;
  }

}

.main__container--item {
  height: auto;
  width: auto;
  border: none;
  display: block;
  position: relative;
  overflow: hidden;

  @media all and (min-width: 768px) and (max-width: 1199px){
    height: 480px;
    width: 600px;
    border: none;
    display: block;
    position: relative;
    overflow: hidden;
  }
  }

.main__container--itemLink {
  display: block;
  position: relative;
  // overflow: hidden;
}

.main__container--item .main__container--itemLink::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.main__container--item .main__container--itemLink .main__container--itemImg {
  // transition: .3s transform ease;
  // -webkit-transform: scale(1);
  // transform: scale(1);
}

.main__container--item .main__container--itemLink > .main__container--itemInfo {
  position: absolute;
  top: 48%;
  width: 100%;
  display: inline;
   z-index: 3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000000;
  font-family: 'Rubik', sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

.main__container--item .main__container--itemLink > .main__container--itemInfo h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}

.main__container--item .main__container--itemLink > .main__container--itemInfo span {
  font-size: 18px;
  font-weight: 400;
}

.main__container--item .main__container--itemLink:hover {
  // text-decoration: none;
}

// .main__container--item .main__container--itemLink:hover img {
//   -webkit-transform: scale(1.05);
//   transform: scale(1.05);
//   transition: ;
// }

.main__container--item .main__container--itemLink:hover:after {
  background-color: #ffffff;
  opacity: 0.8;
  visibility: visible;
}

.main__container--item .main__container--itemLink:hover .main__container--itemInfo {
  opacity: 1;
  visibility: visible;
}

