body {
}

.main__container {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

.main__container-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
   

}

.main__container-images div {
  border: 1px solid red;
  border-radius: 5px;
  height: 100px;
  width: 500px;
  // flex-wrap: nowrap | wrap | wrap-reverse;
}